.new-post{
    width: 600px;
    position:relative;
    left:100px;
    top:10px;
}

.truck-card {
    width: 1000px;
    position: relative;
    left: 100px;
    top: 70px;

}

.signup{
    z-index: 2;
    width: 400px;
    position: relative;
    left: 100px;
    top: 100px;
}

#sign-up-img{
    width: 900px;
    position: relative;
    left: 300px;
    bottom: 350px;
    z-index: 1;
}

#main-photo-container{
    padding: 20px;
    height: 500px;
    width: 400px;
}

#main-photo{
    max-height: 600px auto
}

.list-container{
    height: 85vh;
    overflow: scroll;
}

#image-preview{
    width:100px;
    
}

.menu{
    height: 70px;
}

.item{
    width: 200px;
    border: hidden
}
#logo{
    top:20px
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 400px;
}
.each-slide h1 {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
.each-slide h3{
    width: 300px;
    position: relative;
    left: 500px;
    bottom: 300px;
}
  

#slide-image{
    width: 400px ;
    margin-left: auto;
    margin-right: auto;
}
