.new-post{
    width: 600px;
    position:relative;
    left:100px;
    top:10px;
}

.truck-card {
    width: 1000px;
    position: relative;
    left: 100px;
    top: 70px;
    cursor: pointer;

}

.signup{
    z-index: 2;
    width: 400px;
    position: relative;
    left: 100px;
    top: 100px;
}

#sign-up-img{
    width: 900px;
    position: relative;
    left: 300px;
    bottom: 350px;
    z-index: 1;
}
.ui.big.image{
    max-height: 500px;
    width: auto;
    border-radius: 5px;
}

.ui.tiny.image{
    max-height:100px;
}

#main-photo{
    height: 520px
}

.list-container{
    height: 85vh;
    overflow: scroll;
}

.menu{
    height: 70px;
}

.item{
    width: 200px;
    border: hidden
}
#logo{
    height:100%;
    width: 100%;
}

.sub-menu{
    position:relative;
    left: 50px;
}

.each-slide > div {
    display: flex;
    align-items: left;
    justify-content: center;
    background-size: cover;
}

#slide-image{
    width: 900px ;
    text-align: center;
}

.home-page h1{
    font-size: 100px;
    text-align: center;
    color: white;
}

body .home-page{
    height: 100% auto;
    background-image: url('/Background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
}

.slide-container {
    width: 100%;
    margin: auto; 
}

#map-container{
    text-align: center;
}

.profile-list{
    cursor: pointer;
}
