.new-post{
    width: 600px;
    position:relative;
    left:100px;
    top:10px;
}

.truck-card {
    width: 1000px;
    position: relative;
    left: 100px;
    top: 70px;

}

.signup{
    z-index: 2;
    width: 400px;
    position: relative;
    left: 100px;
    top: 100px;
}

#sign-up-img{
    width: 900px;
    position: relative;
    left: 300px;
    bottom: 350px;
    z-index: 1;
}

.post-container{
    position: relative;
    top: 100px;
    left:100px;
}

#main-photo{
    padding: 20px;
    height: 400px;
    width: 400px;
}

.list-container{
    height: 90vh;
    overflow: scroll;
}

#image-preview{
    width:100px;
    
}
